#spring:
#  mail:
#    host: smtp.gmail.com
#    port: 587
#    username: chetanyaadepu@gmail.com   # YOU (sender)
#    password: lshaqxekvnlzklmx           # app password (no spaces)
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true
#            required: true
#
#app:
#  frontend:
#    url: http://localhost:5173
